<!-- 
 --Home Page: Thea Then
--First Start Top and Nav at 22 jul 2024 9:00-12:00
--Secord Start Content and Footer at 23-24 jul 2024 9:00-10:00
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sabay News</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/view.css" />
    <!-- link fornt -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Top -->
    <header class="Header">
      <div class="header-container">
        <div class="logo"><img src="../src/logo/logo.png" alt="logo" /></div>
        <!-- <div class="ads-container"></div> -->
      </div>
    </header>
    <!-- End Top -->
    <!-- Nav -->
    <nav class="NavContainer">
      <div class="Nav-Container">
        <div>
          <a href="../index.html"><img src="../src/icons/home.png" /></a>
        </div>
        <div>
          <a href="../topics/entertainment.html">កម្សាន្ត</a>
        </div>
        <div>
          <a href="../topics/technology.html">បច្ចេកវិទ្យា</a>
        </div>
        <div><a href="../topics/life.html">ជីវិតនិងសង្គម</a></div>
        <div><a href="../topics/sport.html">កីឡា</a></div>
        <div><a href="../topics/starting-up.html">Starting Up</a></div>
        <div>
          <a href="../topics/autotalk.html">Auto Talk</a>
        </div>
        <div><a href="../topics/members.html">Team Work</a></div>
      </div>
    </nav>
    <!-- End Nav -->
    <!-- Content -->
    <div class="mean-content">
      <div class="fix-bg">
        <div class="img" style="background-image: url(../src/image/image\ Xiaomi.png);"></div>
        <div class="inside"></div>
      </div>
      <div class="container article">
        <div class="single-left-content white-bg">
          <div class="header post-content">
            <div class="title detail">
              <div>
                <p>
                  ការដាក់បង្ហាញជាផ្លូវការនូវម៉ូឌែល Xiaomi 14T Series 
                  ជាមួយនឹងការថតរូប ពេលយប់ដ៏អស្ចារ្យ និង AI កម្រិតខ្ពស់របស់ Xiaomi
                </p>
              </div>
              <div>
                <time class="nav home-tabs" datetime="">
                  សៅរ៍, 12 តុលា 2024 15:06
                  </time>
              </div>
              <div class="detail content-detail">
                <div>
                  <p>
                    Xiaomi មានមោទនភាពក្នុងការដាក់បង្ហាញ ត្រកូលស្មាតហ្វូនចុងក្រោយបំផុតរបស់ខ្លួនគឺ 
                    Xiaomi 14T Series ដែលរចនាឡើងសម្រាប់អ្នកចូលចិត្តថតរូប 
                    ដែលស្វែងរកសមត្ថភាពថតរូបកម្រិតកំពូល។ បច្ចេកវិទ្យានៃការថតរូបស្មាតហ្វូនកំពូលនេះ 
                    គឺផ្តោតលើការថតរូបពេលយប់ដ៏ពិសេសដោយ Xiaomi 14T Series បានបំពេញបន្ថែមដោយមុខងារ AI 
                    ដ៏មានឥទ្ធិពល។ ជាមួយនឹងបច្ចេកវិទ្យា AI-enhanced imaging technology កម្រិតខ្ពស់ 
                    អ្នកប្រើប្រាស់អាចរីករាយជាមួយនឹងរូបភាពច្បាស់ រស់រវើកទាំងពេលយប់ និងពេលថ្ងៃ។ 
                    ការរួមបញ្ចូលគ្នានៃការរចនាយ៉ាងរលើបរលោង ល្បឿនដំណើរការ MediaTek ដែលមានអនុភាព 
                    និងអេក្រង់ AMOLED ដ៏គួរឱ្យភ្ញាក់ផ្អើល គឺXiaomi 14T Series បញ្ចូលមុខងារ AI 
                    យ៉ាងរលូនសម្រាប់ការប្រើប្រាស់ច្រើន 
                    ដោយផ្តល់នូវបទពិសោធន៍ដែលមិនអាចប្រៀបផ្ទឹមបានសម្រាប់អ្នកដែលស្វែងរក
                    អ្វីដែលល្អបំផុតពីទូរស័ព្ទបស់ពួកគេ។
                  </p>
                  <img src="" alt="" />
                  <h4>
                    ការអភិវឌ្ឍន៍ដល់ការថតរូបពេលយប់ជាមួយនឹង លេនអុបទិក Leica ជំនាន់ចុងក្រោយ
                  </h4>
                  <p>
                    Xiaomi 14T Series បានផ្តល់នូវបទពិសោធន៍ថតរូបពិសេសសម្រាប់អ្នកប្រើប្រាស់។ 
                    ជាមួយនឹងសមត្ថភាពពិសេសក្នុងការថតនៅទីមានពន្លឺទាប Xiaomi 14T និង Xiaomi 14T Pro 
                    ចាប់យកទិដ្ឋភាពពេលយប់ដ៏អស្ចារ្យ និងទេសភាពទីក្រុងដ៏រស់រវើកជាមួយនឹងភាពលម្អិត។
                  </p>
                  <img src="" alt="" />
                  <p>
                    បច្ចេកវិទ្យា AI LM computational photography នៅក្នុង FusionLM 
                    ដែលដំណើរការដោយ Xiaomi AISP។ Xiaomi 14T Series បានធ្វើឲ្យប្រសើរឡើងនូវ
                    Dynamic range និងnoise បង្កើនភាពលម្អិត និងពណ៌រស់រវើក បើទោះបីនៅក្នុងទីពន្លឺទាបក៏ដោយ។ 
                    ការប្រើប្រាស់ទិន្នន័យ Raw Data ដ៏ធំពី FusionLM ស៊េរីនេះគាំទ្រ UltraHDR បង្កើនបទពិសោធន៍ HDR 
                    រឹតតែល្អ។ លើសពីនេះ PortraitLM នៅក្នុងបច្ចេកវិទ្យា AISP បានធ្វើឲ្យ Master Portrait mode 
                    រឹតតែល្អឥតខ្ចោះ ចាប់ពី 23mm ដល់ទៅ 75mm ធានាបាននូវរូបភាពPortrait 
                    លម្អិតជាមួយនឹងកម្រិតកាន់តែច្បាស់ និងបែបធម្មជាតិ។

                    Xiaomi 14T Pro មានប្រព័ន្ធកាមេរ៉ាបីដែលអាចប្រើបានដែលមាន 
                    Focal length ប្រាំចាប់ពី 15mm ទៅ 120mm។ 
                    វាបានផ្តល់នូវភាពងាយស្រួលក្នុងការថតរូបក្នុងលក្ខខណ្ឌផ្សេងៗគ្នា។ 
                    កាមេរ៉ាមេទំហំ 50MP មាន Aperture ƒ/1.6 ធំ និងកែវលេន Leica Summilux ចុងក្រោយបង្អស់ 
                    ដែលបានបំពាក់មកជាមួយនឹង Light Fusion 900 image sensor ។ 
                    ជាមួយនឹង sensor size ទំហំធំ 1/1.31" Dual Native ISO Fusion Max និនិង 13.57EV dynamic range 
                    ខ្ពស់នេះ បានធ្វើឲ្យការចាប់យកពន្លឺបានច្រើនជាងមុនដល់ទៅ 32% ដែលធានាបាននូវរូបភាពរស់រវើក និងលម្អិត ។
                     ទូរស័ព្ទនេះក៏បំពាក់មកនូវ លេន 7P aspherical high-transmittance ដើម្បីចាប់យកពន្លឺកាន់តែច្រើន 
                     និងជំនួយដល់ការថតរូប high dynamic range ផងដែរ។
                    
                    Xiaomi 14T មានសេនស័ររូបភាព IMX906 កម្រិតខ្ពស់របស់ Sony និងប្រព័ន្ធកាមេរ៉ាបីគ្រាប់ 
                    មាន focal lengths ចំនួន 4 ចាប់ពី 15mm ដល់ 100mm។ កាមេរ៉ាមេទំហំ 50MP ជាមួយនឹងកម្រិត 
                    Aperture ƒ/1.7 ដ៏ធំ និងលេនអុបទិក Leica Summilux optical lens ផ្តល់នូវពណ៌រស់រវើក 
                    និងច្បាស់លម្អិតបំផុត សូម្បីតែនៅក្នុងពន្លឺតិចក៏ដោយ។ កាមេរ៉ាទំហំ 12MP ultra-wide ដែលមាន focal length15mm 
                    ក៏ធានាបាននូវការថតទេសភាពយ៉ាងច្បាស់ និងលម្អិតផងដែរ។
                    
                    លើសពីសមត្ថភាពថតរូបដ៏គួរឱ្យចាប់អារម្មណ៍នេះ Xiaomi 14T Series 
                    ក៏មានសមត្ថភាពខ្លាំងក្នុងការថតវីដេអូផងដែរ ដែលជួយបង្កើនភាពងាយស្រួលក្នុងការថតវីដេអូបែបភាពយន្ត។
                     Movie mode ក្នុងសមាមាត្រដើម 2.39:1 ដែលមាន Cinematic Blur 
                     និង Rack Focus សម្រាប់ផ្លាស់ប្តូររសជាតិនៃភាពយន្ត ខណៈពេលដែលមុខងារ Director 
                     ណែនាំចំណុចទាក់ទាញសម្រាប់ការថតបែបភាពយន្តអាជីពជាមួយនឹងការគ្រប់គ្រងប៉ារ៉ាម៉ែត្រកម្រិតខ្ពស់។ 
                     ក្នុងពេលជាមួយគ្នានេះ MasterCinema ថតវីដេអូ HDR នៅក្នុង 10-bit Rec ។ 2020 format 
                     និងផ្តល់នូវការថតវីដេអូ 4K ក្នុងល្បឿន 30fps ដោយចាប់យកព័ត៌មានលម្អិតរឹតតែច្បាស់នៅក្នុងពន្លឺ 
                     និងស្រមោល ដែលបង្ហាញពី dynamic range ដូចទៅនឹងអ្វីដែលមនុស្សមើលឃើញ។
                  </p>
                  <p>
                    បាននាំនូវភាពច្នៃប្រឌិត និងផលិតភាពទៅកម្រិតថ្មីបន្ទាប់ជាមួយនឹងសមត្ថភាព AI 
                    កម្រិតខ្ពស់តាមរយៈការស្វែងរកសំឡេង អត្ថបទ រូបភាព និងវីដេអូ ពង្រឹងការងារប្រចាំថ្ងៃ 
                    រួមទាំងផ្តល់នូវភាពងាយស្រួលទៀតផង។ សមត្ថភាព AI របស់ Xiaomi 14T Series 
                    ផ្តល់សិទ្ធិអំណាចដល់អ្នកប្រើប្រាស់ក្នុងការបង្កើនផលិតភាពរបស់ពួកគេ ការធ្វើដំណើរកាន់តែឆ្លាតវៃ 
                    និងបង្កើតមាតិកាដោយមិនចាំបាច់ប្រឹងប្រែងខ្លាំងពេក។

                    ដោយមានការសហការជាមួយ Google ដល់កម្រិតខ្ពស់ Xiaomi 14T Pro 
                    បានណែនាំ Circle to Search ជាមួយ Google បានក្លាយជាឧបករណ៍ Xiaomi 
                    ដំបូងបង្អស់ដែលផ្តល់ជូននូវមុខងារច្នៃប្រឌិតនេះ។ 
                    អ្នកប្រើប្រាស់អាចស្វែងរកភ្លាមៗនូវអ្វីដែលពួកគេឃើញនៅលើទូរសព្ទរបស់ពួកគេដោយមិនចាំបាច់ប្តូរកម្មវិធី។ 
                    លើសពីនេះ Xiaomi 14T ភ្ជាប់មកជាមួយកម្មវិធី Google Gemini ។ ជជែកជាមួយ Gemini 
                    ដើម្បីទទួលបានជំនួយក្នុងការសរសេរ ការរៀន ការធ្វើផែនការ និងអ្វីៗជាច្រើនទៀត។

                    ដើម្បីបង្កើនផលិតភាព អ្នកបកប្រែ AI យកឈ្នះលើឧបសគ្គភាសា ដើម្បីបង្កើនទំនាក់ទំនងក្នុងអំឡុងពេលប្រជុំ 
                    និងការហៅទូរសព្ទ។ AI Notes និង AI Recorder បង្កើនប្រសិទ្ធភាពក្នុងការបំលែងការនិយាយជាសំឡេងទៅអត្ថបទ 
                    ការសម្គាល់សំឡេងអ្នកនិយាយផ្សេងៗគ្នាបានត្រឹមត្រូវនិងការសង្ខេបរហ័ស 
                    ខណៈពេលដែលការបកប្រែតាមពេលវេលាជាក់ស្តែងធានានូវអន្តរកម្មពហុភាសាយ៉ាងរលូន។

                    ខាងផ្នែកច្នៃប្រឌិត AI Image Editing ពង្រីករូបភាពយ៉ាងឆ្លាតវៃ ដើម្បីបង្កើនការមើលឃើញ 
                    ខណៈពេលដែល AI Eraser Pro ដកធាតុដែលមិនចង់បានចេញពីរូបភាពបានយ៉ាងល្អឥតខ្ចោះ។ AI Film 
                    បង្កើតវីដេអូខ្លីៗបែបភាពយន្តដោយងាយស្រួល និង AI Portrait បង្កើតរូបតំណាងផ្ទាល់ខ្លួន 
                    ដែលផ្តល់សិទ្ធិអំណាចដល់អ្នកប្រើក្នុងការបង្ហាញស្ទីលពិសេសរបស់ពួកគេយ៉ាងងាយស្រួល។

                    Xiaomi 14T Series ប្តេជ្ញាបន្តបង្កើនបទពិសោធន៍ software ដែលនាំឱ្យមានការកែលម្អកម្មវិធីជាង 600 
                    ចាប់តាំងពីខែមករា ឆ្នាំ 2024 ដែលលទ្ធផលគឺមានការកើនឡើង 9.8% លើល្បឿនក្នុងប្រព័ន្ធ។ ការកែលម្អ 
                    រួមមានការធ្វើឱ្យប្រសើរឡើងនៃពហុភាសា ការធ្វើសមកាលកម្មលក្ខណៈពិសេសជាមួយ Android 
                    និងកាត់បន្ថយភាពស្មុគស្មាញរាល់ពេញចេញចូលនិងភាពលែងត្រូវការតទៅទៀតនៃកម្មវិធី 
                    ដែលធ្វើឲ្យមានបទពិសោធន៍ប្រើប្រាស់កាន់តែរលូន និងឆ្លើយតបកាន់តែរហ័ស។ Xiaomi 14T Series 
                    ក៏ណែនាំមុខងារច្នៃប្រឌិតថ្មីចំនួនបីផងដែរ ដូចជាការធ្វើសមកាលកម្មការហៅទូរសព្ទ ការបិទកម្មវិធី
                     និងការផ្ទេរការចាក់សារឡើងវិញ ដែលធានាបាននូវការតភ្ជាប់ដ៏រលូន និងការផ្លាស់ប្តូររវាងឧបករណ៍ដោយមិនលំបាក 
                     បង្កើនផលិតភាព និងភាពងាយស្រួលយ៉ាងខ្លាំង។ លើសពីនេះ មុខងារ Link to Windows ផ្តល់ជូនបទពិសោធន៍ 
                     កុំព្យូទ័រ PC ដែលរួមបញ្ចូលគ្នា ដោយកាត់បន្ថយគម្លាតរវាងបទពិសោធន៍ទូរស័ព្ទ និងកុំព្យូទ័រលើតុ។
                     អេក្រង់ CrystalRes ទំហំ 6.67” ដែលផ្តល់នូវកម្រិតភាពច្បាស់ 1.5K ដ៏អស្ចារ្យ (2712 x 1220) ជាមួយនឹងដង់ស៊ីតេភីកសែល 446 ppi ។ 
                     អេក្រង់កម្រិតខ្ពស់នេះផ្តល់នូវការមើលឃើញដ៏រស់រវើក និង រលូន ដែលត្រូវបានពង្រឹងដោយជម្រៅពណ៌ 12 bit 
                     គួរឱ្យចាប់អារម្មណ៍។ Refresh rate កម្រិតខ្ពស់ដល់ទៅ 144Hz 
                     អ្នកប្រើប្រាស់កាន់តែរីករាយនឹងការប្រើប្រាស់ប្រចាំថ្ងៃ ដែល ធានាឱ្យមានចលនារលូន និងការផ្លាស់ប្តូររលូនឥតខ្ចោះ ។
                      ផ្តល់ជូននូវការគ្របដណ្តប់ពណ៌ DCI-P3 និងកម្រិតពន្លឺខ្ពស់បំផុត 
                     4000 nits អេក្រង់ ផ្តល់នូវរូបភាពដ៏អស្ចារ្យទាំងក្នុង និងក្រៅ ដែលធ្វើអោយរាល់អន្តរកម្មកាន់តែទាក់ទាញ និងរីករាយ។ 
                     អេក្រង់ AI ជំនាន់ក្រោយកែតម្រូវសីតុណ្ហភាពពណ៌ និងពន្លឺយ៉ាងឆ្លាតវៃ 
                     ដោយផ្អែកលើសេណារីយ៉ូនៃការប្រើប្រាស់ និងពេលវេលានៃថ្ងៃ ដោយធានាបាននូវផាសុកភាពភ្នែកល្អបំផុត។

                    Xiaomi 14T Series ផ្តល់នូវគុណភាពសំឡេងពិសេសជាមួយនឹងវិញ្ញាបនបត្រ Hi-Res Audio Wireless និងឧបករណ៍
                     សំឡេងស្តេរ៉េអូសម្រាប់សំឡេងដ៏ពីរោះ។ បំពាក់ដោយបច្ចេកវិទ្យា Dolby Atmos® អ្នកប្រើប្រាស់អាចទទួលបានបទពិសោធន៍ដ៏សម្បូរបែប ជាមួយនឹងសំឡេង 3D 
                    បង្កើនភាពរីករាយនឹងភាពយន្ត តន្ត្រី និងហ្គេមរបស់ពួកគេ។
                  </p>
                  <p>
                    ល្បឿនដំណើរការខ្លាំង រលូតឥតអាក់ Xiaomi 14T Series

                    Xiaomi 14T Series ផ្តល់នូវដំណើរការពិសេសជាមួយនឹងប្រព័ន្ធដំណើរការដ៏ទំនើប និងប្រព័ន្ធត្រជាក់កម្រិតខ្ពស់ បង្កើនការងារប្រចាំថ្ងៃជាមួយនឹងល្បឿន និងប្រសិទ្ធភាពដែលមិនអាចប្រៀបផ្ទឹមបាន។
                    
                    Dimensity 9300+ បង្កើនល្បឿន 37% នៅក្នុងដំណើរការ CPU ។ រួមនឹង GPU Immortalis-G720 កម្រិតខ្ពស់ ដែលផ្តល់នូវការធ្វើឱ្យប្រសើរឡើង 44% នៅក្នុងដំណើរការក្រាហ្វិក ការរួមបញ្ចូលគ្នាដ៏មានអានុភាពនេះល្អឥតខ្ចោះនៅក្នុងកម្មវិធី AI និងការលេងហ្គេម ដោយផ្តល់នូវបទពិសោធន៍ដ៏អស្ចារ្យ និងល្អឥតខ្ចោះ។ ធ្វើឱ្យប្រសើរឡើងដោយ Xiaomi Surge T1 Tuner សម្រាប់ការតភ្ជាប់ដែលមានស្ថេរភាព និងដំណើរការកាន់តែប្រសើរឡើង និងប្រព័ន្ធ Xiaomi 3D IceLoop សម្រាប់ការគ្រប់គ្រងកម្តៅប្រកបដោយប្រសិទ្ធភាព Xiaomi 14T Pro ធានានូវដំណើរការខ្ពស់បំផុតដោយមិនឡើងកំដៅ ដែលធ្វើឱ្យវាក្លាយជាជម្រើសចុងក្រោយសម្រាប់អ្នកលេងហ្គេមទូរសព្ទ និងអ្នកកិច្ចការនិងកម្មវិធីធំៗ។
                    
                    Xiaomi 14T ដំណើរការដោយប្រព័ន្ធដំណើរការ AI ថ្មី MediaTek Dimensity 8300-Ultra បង្កើនល្បឿន 20% នៃដំណើរការស៊ីភីយូ និងការធ្វើឱ្យប្រសើរឡើង 60% នៅក្នុង ដំណើរការ GPU ធ្វើឱ្យកិច្ចការច្រើនយ៉ាងរលូន និងមានប្រសិទ្ធភាពជាងមុន ខណៈពេលដែលអាយុកាលថ្មរឹតតែវែងជាងមុន ហើយមានប្រសិទ្ធភាពកាន់តែខ្លាំង។
                    
                    Xiaomi 14T Series បំពាក់នូវថ្មដ៏មានថាមពល និងសមត្ថភាពសាកថ្មលឿន ធានាបាននូវការសាកថ្មលឿន និងការប្រើប្រាស់ដែលអាចទុកចិត្តបាន។ Xiaomi 14T Pro មានភាពលេចធ្លោជាលើកដំបូងនៅក្នុង Xiaomi T Series ដែលបង្ហាញសមត្ថភាពសាកឥតខ្សែ 50W បន្ថែមលើថ្ម 5000mAh ។ លើសពីនេះ 120W HyperCharge អនុញ្ញាតឱ្យសាកពេញត្រឹមតែ 19 នាទី ប៉ុណ្ណោះ។ ទន្ទឹមនឹងនេះ Xiaomi 14T ត្រូវបានបំពាក់ដោយថាមពលថ្ម 5000mAh ដ៏រឹងមាំ និង 67W HyperCharge សម្រាប់ការសាកថ្មលឿនតាមខ្សែ។
                    
                    <h3>សមត្ថភាពដ៏មានអានុភាព មកជាមួយនឹងភាពទំនើបទាន់សម័យ</h3>
                    
                    Xiaomi 14T Series បានរួមបញ្ចូលគ្នានូវសមត្ថភាពយ៉ាងរលូន 
                    និងការរចនាដ៏ប្រណីតដោយមានការរចនាម៉ូដបែបលោហធាតុ 
                    រលើបេលោង និងគែមអេក្រង់ស្តើងបំផុត 1.7mm ដែលជួយបង្កើនបទពិសោធន៍នៃការបង្ហាញអេក្រង់។ 
                    ទូរស័ព្ទទាំងពីរនេះមានកម្រិត IP68 ដែល ធានាភាពធន់នឹងទឹក និងធូលីដែលធន់មាំទាំងទូរស័ព្ទ និងផ្លូវចិត្ត។ 
                    Xiaomi 14T Pro បំពាក់នូវស៊ុមធ្វើពីលោហធាតុចម្រាញ់ ដែលបន្ថែមនូវភាពទំនើបទាន់សម័យ
                     និងផ្តល់នូវភាពធន់ខ្លាំងជាង 116% ធន់នឹងការពត់កោង និងការខូចខាតបើប្រៀបធៀបទៅនឹងជំនាន់មុន។
                      ខ្នងកោង 3D បង្កើនផាសុកភាព និងការក្តាប់ជាប់ ខណៈពេលដែលគ្រឿងតុបតែងធ្វើពីលោហធាតុ បន្ថែមភាពប្រណីត។ 
                      Xiaomi 14T Pro មានជម្រើសបីពណ៌៖ Titan Gray, Titan Blue និង Titan Black ។ 
                      Xiaomi 14T មានជាពណ៌ Titan Gray, Titan Blue, Titan Black និង Lemon Green។ 
                      Lemon Green វ៉ារ្យ៉ង់គឺផលិតចេញពីវត្ថុធាតុដើម PU ដែលមានមូលដ្ឋានលើជីវសាស្រ្ត មានបួនស្រទាប់ 
                      ដោយរួមបញ្ចូលនូវវត្ថុធាតុដើមជីវៈចំនួន 50% 
                    រួមទាំងសរសៃក្រូចឆ្មា និង PET កែច្នៃ 100% ធ្វើឱ្យវាក្លាយជាជម្រើសដែលមិនប៉ះពាល់ដល់បរិស្ថាន។
                  </p>
                  <p>តម្លៃ និងការដែលអាចរកទិញបាន

                    Xiaomi 14T Pro នឹងមានជម្រើសពណ៌ចំនួន 3 គឺ Titan Gray, Titan Blue និង Titan Black។
                    Xiaomi 14T នឹងមានជម្រើស 4 ពណ៌គឺ Titan Gray, Titan Blue, Titan Black និង Lemon Green។
                    Xiaomi 14T Pro ភ្ជាប់មកជាមួយជម្រើសផ្ទុកទិន្នន័យចំនួន2 ដែលមានតម្លៃចាប់ពី 629 ដុល្លារ។
                    Xiaomi 14T ភ្ជាប់មកជាមួយជម្រើសផ្ទុកទិន្នន័យចំនួន 2 ដែលមានតម្លៃចាប់ពី 399 ដុល្លារ។
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div></div>
          <div></div>
        </div>

        <div class="single-right-content">
          <div class="ads-item web"></div>
          <div class="post-item nav-ads hot-news">
            <div class="title">
              អត្ថបទពេញនិយម
              <div class="border"></div>
            </div>
            <div class="media">a</div>
            <div class="media">a</div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="title">
              អត្ថបទថ្មី
              <div class="border"></div>
            </div>
            <div class="media">a</div>
            <div class="media">a</div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Content -->
    <!-- Footer -->
    <footer class="footer-container">
      <section>
        <div>
          <img src="../src/logo/footer-logo.png" />
          <p>​©រក្សា​សិទ្ធិ​គ្រប់​យ៉ាង​ដោយ​ Sabay ឆ្នាំ​២០២៤</p>
          <p>
            <strong>គោលការណ៍​ភាព​ឯកជន | Privacy Policy</strong>
            <br />
            អាសយដ្ឋាន
            <br />
            អគារ​លេខ ៣០៨ មហាវិថីព្រះមុន្នីវង្ស សង្កាត់បឹងរាំង ខណ្ឌដូនពេញ
          </p>
        </div>
        <div>
          <div>អំពីយើង</div>
          <p>
            <strong>Sabay Digital Corporation </strong
            >ជា​ក្រុមហ៊ុន​ព័ត៌មាន​ឌីជីថល និង​កម្សាន្ត​ឈាន​មុខ​គេ​នៅ​កម្ពុជា។
            <a href="">ព័ត៌មាន​បន្ថែម</a>
          </p>
          <p><strong>ផលិត​ផល​ និង​ សេវាកម្ម របស់ Sabay</strong></p>
          <ul class="icon-footer">
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
          </ul>
        </div>
        <div>
          <div>ជួបគ្នានៅបណ្តាញសង្គម</div>
          <div>
            <ul class="icon-footer">
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
            </ul>
          </div>
          <p>
            <strong>ទំនាក់ទំនង</strong> <br />info@sabay.com <br />023 228 000
          </p>
        </div>
      </section>
    </footer>
    <script>
      import { Analytics } from "@vercel/analytics/react";
    </script>
  </body>
</html>
