<!-- 
 --Home Page: Thea Then
--First Start Top and Nav at 22 jul 2024 9:00-12:00
--Secord Start Content and Footer at 23-24 jul 2024 9:00-10:00
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sabay News</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/view.css" />
    <!-- link fornt -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Top -->
    <header class="Header">
      <div class="header-container">
        <div class="logo"><img src="../src/logo/logo.png" alt="logo" /></div>
        <!-- <div class="ads-container"></div> -->
      </div>
    </header>
    <!-- End Top -->
    <!-- Nav -->
    <nav class="NavContainer">
      <div class="Nav-Container">
        <div>
          <a href="../index.html"><img src="../src/icons/home.png" /></a>
        </div>
        <div>
          <a href="../topics/entertainment.html">កម្សាន្ត</a>
        </div>
        <div>
          <a href="../topics/technology.html">បច្ចេកវិទ្យា</a>
        </div>
        <div><a href="../topics/life.html">ជីវិតនិងសង្គម</a></div>
        <div><a href="../topics/sport.html">កីឡា</a></div>
        <div><a href="../topics/starting-up.html">Starting Up</a></div>
        <div>
          <a href="../topics/autotalk.html">Auto Talk</a>
        </div>
        <div><a href="../topics/members.html">Team Work</a></div>
      </div>
    </nav>
    <!-- End Nav -->
    <!-- Content -->
    <div class="mean-content">
      <div class="fix-bg">
        <div
          class="img"
          style="background-image: url(../src/image/image\ Gumball3000.png)"
        ></div>
        <div class="inside"></div>
      </div>
      <div class="container article">
        <div class="single-left-content white-bg">
          <div class="header post-content">
            <div class="title detail">
              <div>
                <p>
                  ជា​មួយ​នឹង​ Gumball 3000 កម្ពុជា​ត្រៀមនឹង​ទទួល​បាន​កំណត់ត្រា​
                  Guinness នៅ​ទឹក​ដី​អង្គរ​
                </p>
              </div>
              <div>
                <time class="nav home-tabs" datetime="">
                  ច័ន្ទ, 16 កញ្ញា 2024 20:00</time
                >
              </div>
              <div class="detail content-detail">
                <div>
                  <p>
                    មហា​ព្រឹត្តិការណ៍​ Gumball 3000 x Chip Mong
                    បាន​ធ្វើ​ការ​ចាប់​ផ្ដើម​នៅ​ប្រទេស​កម្ពុជា​យើង​ហើយ​ចាប់​ពី​ថ្ងៃ​ទី​១៥
                    ខែ​កញ្ញា​ ឆ្នាំ​២០២៥​កន្លង​ទៅ​នេះ​
                    នៅ​ក្នុង​ព្រឹត្តិការណ៍​នឹង​មាន​តារា​ល្បី​ៗលំដាប់​ពិភពលោក​ជា​ច្រើន​បាន​ចូល​រួម​ដូច​ជា​IshowSpeed,
                    Patrice Evra
                    ជា​ដើម​ដែល​នាំ​មក​នូវ​ការ​ជិះ​ឡាន​ស្ព័រ​ទំនើប​ៗដង្ហែ​ពី​ប្រទេស​វៀតណាម​
                    មក​ដល់​ប្រទេស​កម្ពុជា​ ឆ្ពោះ​ទៅ​កាន់​ប្រទេស​ថៃ​
                    ប្រទេស​ម៉ាឡេស៊ី​ និង​ប្រទេស​សិង្ហបុរី​។
                  </p>
                  <img src="" alt="" />
                  <p>
                    កម្មវិធី​នេះ​បាន​ចាប់​ផ្ដើម​នៅ​ភ្នំពេញ​ម្សិលមិញ​
                    ហើយ​ក៏​បាន​បន្ត​នៅ​សៀមរាប​នៅ​ថ្ងៃ​នេះ ​
                    និង​ត្រៀម​នៅ​ថ្ងៃ​ស្អែក​ ទី​១៧ ខែ​កញ្ញា​ ឆ្នាំ​២០២៤​ខាង​មុខ​
                    ដោយ​មាន​ការ​ជិះ​ដង្ហែ​ចត​ឡាន​ជា​ក្បួន​នៅ​ទឹក​ដី​អង្គរ​
                    ដែល​ធ្វើ​ឲ្យ​កម្ពុជា​ត្រៀម​នឹង​ទទួល​បាន​កំណត់ត្រា ​ Guinness
                    មួយស្ដីពីការតាំងបង្ហាញរថយន្តទំនើបច្រើនបំផុត​នៅ​ថ្ងៃស្អែក​នេះ​៕
                  </p>
                  <img src="" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div></div>
          <div></div>
        </div>

        <div class="single-right-content">
          <div class="ads-item web"></div>
          <div class="post-item nav-ads hot-news">
            <div class="title">
              អត្ថបទពេញនិយម
              <div class="border"></div>
            </div>
            <div class="media">a</div>
            <div class="media">a</div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="title">
              អត្ថបទថ្មី
              <div class="border"></div>
            </div>
            <div class="media">a</div>
            <div class="media">a</div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Content -->
    <!-- Footer -->
    <footer class="footer-container">
      <section>
        <div>
          <img src="../src/logo/footer-logo.png" />
          <p>​©រក្សា​សិទ្ធិ​គ្រប់​យ៉ាង​ដោយ​ Sabay ឆ្នាំ​២០២៤</p>
          <p>
            <strong>គោលការណ៍​ភាព​ឯកជន | Privacy Policy</strong>
            <br />
            អាសយដ្ឋាន
            <br />
            អគារ​លេខ ៣០៨ មហាវិថីព្រះមុន្នីវង្ស សង្កាត់បឹងរាំង ខណ្ឌដូនពេញ
          </p>
        </div>
        <div>
          <div>អំពីយើង</div>
          <p>
            <strong>Sabay Digital Corporation </strong
            >ជា​ក្រុមហ៊ុន​ព័ត៌មាន​ឌីជីថល និង​កម្សាន្ត​ឈាន​មុខ​គេ​នៅ​កម្ពុជា។
            <a href="">ព័ត៌មាន​បន្ថែម</a>
          </p>
          <p><strong>ផលិត​ផល​ និង​ សេវាកម្ម របស់ Sabay</strong></p>
          <ul class="icon-footer">
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
          </ul>
        </div>
        <div>
          <div>ជួបគ្នានៅបណ្តាញសង្គម</div>
          <div>
            <ul class="icon-footer">
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
            </ul>
          </div>
          <p>
            <strong>ទំនាក់ទំនង</strong> <br />info@sabay.com <br />023 228 000
          </p>
        </div>
      </section>
    </footer>
  </body>
</html>
