<!-- 
 --Home Page: Thea Then
--First Start Top and Nav at 22 jul 2024 9:00-12:00
--Secord Start Content and Footer at 23-24 jul 2024 9:00-10:00
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sabay News</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/view.css" />
    <!-- link fornt -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Top -->
    <header class="Header">
      <div class="header-container">
        <div class="logo"><img src="../src/logo/logo.png" alt="logo" /></div>
        <!-- <div class="ads-container"></div> -->
      </div>
    </header>
    <!-- End Top -->
    <!-- Nav -->
    <nav class="NavContainer">
      <div class="Nav-Container">
        <div>
          <a href="../index.html"><img src="../src/icons/home.png" /></a>
        </div>
        <div>
          <a href="../topics/entertainment.html">កម្សាន្ត</a>
        </div>
        <div>
          <a href="../topics/technology.html">បច្ចេកវិទ្យា</a>
        </div>
        <div><a href="../topics/life.html">ជីវិតនិងសង្គម</a></div>
        <div><a href="../topics/sport.html">កីឡា</a></div>
        <div><a href="../topics/starting-up.html">Starting Up</a></div>
        <div>
          <a href="../topics/autotalk.html">Auto Talk</a>
        </div>
        <div><a href="../topics/members.html">Team Work</a></div>
      </div>
    </nav>
    <!-- End Nav -->
    <!-- Content -->
    <div class="mean-content">
      <div class="fix-bg">
        <div
          class="img"
          style="background-image: url(../src/image/image\ copy\ 2.png)"
        ></div>
        <div class="inside"></div>
      </div>
      <div class="container article">
        <div class="single-left-content white-bg">
          <div class="header post-content">
            <div class="title detail">
              <div>
                <p>Toyota Prius បំបែកកំណត់ត្រាពិភពលោក ស៊ីសាំងតិចបំផុត</p>
              </div>
              <div>
                <time class="nav home-tabs" datetime="">
                  សុក្រ, 13 កញ្ញា 2024 14:56</time
                >
              </div>
              <div class="detail content-detail">
                <div>
                  <p>
                    រថយន្ត Toyota Prius LE ជំនាន់ថ្មី បានបំបែកកំណត់ត្រាពិភពលោក
                    សម្រាប់ការប្រើប្រាស់ប្រេងឥន្ធនៈតិចបំផុត គឺ
                    ២,៥លីត្រ/១០០គីឡូម៉ែត្រ របស់រថយន្ត Hybrid។ ការប៉ុនប៉ងនេះ
                    ធ្វើឡើងដោយការធ្វើដំណើរពីឆ្នេរភាគលិច
                    រហូតដល់ឆ្នេរខាងកើតនៃសហរដ្ឋអាមេរិក បើកបរដោយលោក Wayne Gerdes
                    ពោលគឺចេញពីសាលាក្រុង Los Angeles ទៅដល់សាលាក្រុង New York
                    ដែលមានចម្ងាយសរុប ៥១៦៨,៧គីឡូម៉ែត្រ។
                  </p>
                  <img src="" alt="" />
                  <p>
                    យ៉ាងណាមិញ គេមិនបានបញ្ជាក់អំពីបរិមាណ និងចំនួនចាក់សាំងសរុប
                    សម្រាប់ការធ្វើដំណើររបស់រថយន្ត Prius នេះឡើយ។ ប៉ុន្តែ Prius
                    ត្រូវបានដឹងថា មានធុងសាំងចំណុះ ៤២,៧លីត្រ
                    ដូច្នេះបើយើងគណនាឃើញថា រថយន្ត Hybrid នេះពេលចាក់សាំងពេញម្តង
                    អាចធ្វើដំណើរបានដល់ចម្ងាយ ១៧០០គីឡូម៉ែត្រឯណោះ។ កម្រិតនេះ
                    គឺបង្ហាញថា វាសន្សំសំចៃជាងការប៉ាន់ស្មានរបស់ EPA ទៅទៀត។
                  </p>
                  <img src="" alt="" />
                  <p>
                    លោក Wayne Gerdes
                    បានបញ្ជាក់ពីគន្លឹះបើកបរដ៏សំខាន់បំផុតមួយដែលធ្វើឱ្យរថយន្តស៊ីសាំងតិចបែបនេះ
                    គឺនៅពេលយើងចាប់ផ្តើមបើកចេញដំណើរបន្ទាប់ពីឈប់ម្តងៗ
                    គឺត្រូវរក្សាការជាន់ហ្គែរតិចៗដោយមិនបង្ខំ
                    ហើយបន្ទាប់មកចាំជាន់សង្កត់ខ្លាំងបន្តិចៗតាមដំណើរល្បឿនរបស់រថយន្ត៕
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div></div>
          <div></div>
        </div>

        <div class="single-right-content">
          <div class="ads-item web"></div>
          <div class="post-item nav-ads hot-news">
            <div class="title">
              អត្ថបទពេញនិយម
              <div class="border"></div>
            </div>
            <div class="media">a</div>
            <div class="media">a</div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="title">
              អត្ថបទថ្មី
              <div class="border"></div>
            </div>
            <div class="media">a</div>
            <div class="media">a</div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Content -->
    <!-- Footer -->
    <footer class="footer-container">
      <section>
        <div>
          <img src="../src/logo/footer-logo.png" />
          <p>​©រក្សា​សិទ្ធិ​គ្រប់​យ៉ាង​ដោយ​ Sabay ឆ្នាំ​២០២៤</p>
          <p>
            <strong>គោលការណ៍​ភាព​ឯកជន | Privacy Policy</strong>
            <br />
            អាសយដ្ឋាន
            <br />
            អគារ​លេខ ៣០៨ មហាវិថីព្រះមុន្នីវង្ស សង្កាត់បឹងរាំង ខណ្ឌដូនពេញ
          </p>
        </div>
        <div>
          <div>អំពីយើង</div>
          <p>
            <strong>Sabay Digital Corporation </strong
            >ជា​ក្រុមហ៊ុន​ព័ត៌មាន​ឌីជីថល និង​កម្សាន្ត​ឈាន​មុខ​គេ​នៅ​កម្ពុជា។
            <a href="">ព័ត៌មាន​បន្ថែម</a>
          </p>
          <p><strong>ផលិត​ផល​ និង​ សេវាកម្ម របស់ Sabay</strong></p>
          <ul class="icon-footer">
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
          </ul>
        </div>
        <div>
          <div>ជួបគ្នានៅបណ្តាញសង្គម</div>
          <div>
            <ul class="icon-footer">
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
            </ul>
          </div>
          <p>
            <strong>ទំនាក់ទំនង</strong> <br />info@sabay.com <br />023 228 000
          </p>
        </div>
      </section>
    </footer>
  </body>
</html>
