<!-- 
 --Home Page: Thea Then
--First Start Top and Nav at 22 jul 2024 9:00-12:00
--Secord Start Content and Footer at 23-24 jul 2024 9:00-10:00
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sabay News</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/view.css" />
    <!-- link fornt -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Top -->
    <header class="Header">
      <div class="header-container">
        <div class="logo"><img src="../src/logo/logo.png" alt="logo" /></div>
        <!-- <div class="ads-container"></div> -->
      </div>
    </header>
    <!-- End Top -->
    <!-- Nav -->
    <nav class="NavContainer">
      <div class="Nav-Container">
        <div>
          <a href="../index.html"><img src="../src/icons/home.png" /></a>
        </div>
        <div>
          <a href="../topics/entertainment.html">កម្សាន្ត</a>
        </div>
        <div>
          <a href="../topics/technology.html">បច្ចេកវិទ្យា</a>
        </div>
        <div><a href="../topics/life.html">ជីវិតនិងសង្គម</a></div>
        <div><a href="../topics/sport.html">កីឡា</a></div>
        <div><a href="../topics/starting-up.html">Starting Up</a></div>
        <div>
          <a href="../topics/autotalk.html">Auto Talk</a>
        </div>
        <div><a href="../topics/members.html">Team Work</a></div>
      </div>
    </nav>
    <!-- End Nav -->
    <!-- Content -->
    <div class="mean-content">
      <div class="fix-bg">
        <div
          class="img"
          style="background-image: url(../src/image/move1.jpg)"
        ></div>
        <div class="inside"></div>
      </div>
      <div class="container article">
        <div class="single-left-content white-bg">
          <div class="header post-content">
            <div class="title detail">
              <div>
                <p>
                  កំពុងចាក់បញ្ចាំង! ខ្សែភាពយន្ដផលិតដោយកូនខ្មែរ “ព្រះភូមិ”
                  ផលិតឡើងយ៉ាងសម្រិតសម្រាំង
                </p>
              </div>
              <div>
                <time class="nav home-tabs" datetime="">
                  ច័ន្ទ, 7 តុលា 2024 10:44</time
                >
              </div>
              <div class="detail content-detail">
                <div>
                  <p>
                    ខ្សែភាពយន្ដ “ព្រះភូមិ” ភាពយន្ដភ័យរន្ធត់
                    កំពុងចាក់បញ្ចាំងក្នុងរឿងរោងកុន
                    ហើយក៏កំពុងត្រៀមខ្លួនរួចជាស្រេចដើម្បីតំណាងកម្ពុជាចូលរួម
                    មហោស្រពភាពយន្តឯករាជ្យអាស៊ី AAIFF Asia 2024 ផងដែរ។
                  </p>
                  <img src="" alt="" />
                  <p>
                    ខ្សែភាពយន្ដ “ព្រះភូមិ” ភាពយន្ដភ័យរន្ធត់
                    កំពុងចាក់បញ្ចាំងក្នុងរឿងរោងកុន
                    ហើយក៏កំពុងត្រៀមខ្លួនរួចជាស្រេចដើម្បីតំណាងកម្ពុជាចូលរួម
                    មហោស្រពភាពយន្តឯករាជ្យអាស៊ី AAIFF Asia 2024 ផងដែរ។
                  </p>
                  <img src="" alt="" />
                  <p>
                    យោងតាមរយៈបទសម្ភាស Sabay ជាមួយផលិតករលោក សេងធី បានឱ្យដឹងថា
                    រឿង“ព្រះភូមិ” ជាស្នាដៃទី២របស់លោក បន្ទាប់ពីរឿង
                    “បងលុច្សឃើញខ្មោច”។ ស្នាដៃទីរបស់លោកនេះ
                    បានផលិតឡើងយ៉ាងយកចិត្តទុកដាក់ខ្លាំងបំពុត ទាំងការជ្រើសតួ
                    ទីកន្លែងថត និងក្រុមការងារ ទាំងមូល
                    ហើយអ្វីដែលកាន់តែពិសេសទៀតនោះ គឺផ្ដោតលើសាច់រឿងតែម្ដង។
                  </p>
                  <p>
                    “ការផលិតភាពយន្ត រឿងបែប រន្ធត់បែបនេះ ចំណាយពេលច្រើន
                    ក្នុងការរៀបចំសាច់រឿង រកទីតាំងថត ដែលតែងតែជាការលំបាក
                    ព្រោះតែមិនមានការបើកទូលាយឱ្យក្រុមផលិតកម្មថតបាន
                    ដូចនេះហើយពេលខ្លះយើងត្រូវចំណាយច្រើន លើការរៀបចំ ឈុតឆាត ឬ Set
                    សម្រាប់ថត។ ជាក់ស្តែង
                    ភាពយន្តនេះគឺជាប្រមូលផ្តុំទុនដែលស្ថិតក្នុងចំណោមមនុស្សដែលផលិតករបានស្គាល់
                    វាមិនច្រើនពេក ឬ តិចពេកនោះដែរ អ្វីដែលយើងអាចនិយាយបាន គឺ
                    យើងបានចំណាយការផលិតគ្រប់គ្រាន គ្រប់គ្នាក្នុងក្រុមផលិត ជាង ២០
                    នាក់ តួសម្ដែង ៨ នាក់ និង តួបន្ថែមបន្ទាប់បន្សុំជាង ២០ នាក់
                    ទទួលបានកម្រៃការងារគ្រប់គ្រាន។” លោក ផលិតករ សេង ធី
                    បានថ្លែងប្រាប់ Sabay។
                  </p>
                  <img src="" alt="" />
                  <p>
                    លោកផលិតករ បានបន្ថែមទៀតថា៖ “ប្រាកដណាស់ មានការលំបាក
                    ច្រើនយ៉ាងលើការផលិត ភាពយន្តបែបរន្ធត់ ឃាតកម្ម និង
                    អាថ៌កំបាំងបែបនេះ គឺមានឧបសគ្គ គ្រប់ពេល តាំងតែពីពេលគិតថាផលិតវា
                    ព្រោះចំនួននៃការផលិតរឿងបែបរន្ធត់ មានច្រើន
                    ស្របពេលដែលទីផ្សារនៅតូច
                    ដូចនេះយើងត្រូវពិចារណាជ្រើសរើសសាច់រឿងណា ដែលមិនជាន់គេ មិន
                    ចម្លងគេ និង មិនគួឱ្យខ្លាំចពេក ឬធម្មតាពេក។”
                  </p>
                  <img src="" alt="" />
                  <p>
                    លោកផលិតករ បានបន្ថែមទៀតថា៖ “ប្រាកដណាស់ មានការលំបាក
                    ច្រើនយ៉ាងលើការផលិត ភាពយន្តបែបរន្ធត់ ឃាតកម្ម និង
                    អាថ៌កំបាំងបែបនេះ គឺមានឧបសគ្គ គ្រប់ពេល តាំងតែពីពេលគិតថាផលិតវា
                    ព្រោះចំនួននៃការផលិតរឿងបែបរន្ធត់ មានច្រើន
                    ស្របពេលដែលទីផ្សារនៅតូច
                    ដូចនេះយើងត្រូវពិចារណាជ្រើសរើសសាច់រឿងណា ដែលមិនជាន់គេ មិន
                    ចម្លងគេ និង មិនគួឱ្យខ្លាំចពេក ឬធម្មតាពេក។”
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div></div>
          <div></div>
        </div>

        <div class="single-right-content">
          <div class="ads-item web"></div>
          <div class="post-item nav-ads hot-news">
            <div class="title">
              អត្ថបទពេញនិយម
              <div class="border"></div>
            </div>
            <div class="media">a</div>
            <div class="media">a</div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="title">
              អត្ថបទថ្មី
              <div class="border"></div>
            </div>
            <div class="media">a</div>
            <div class="media">a</div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Content -->
    <!-- Footer -->
    <footer class="footer-container">
      <section>
        <div>
          <img src="../src/logo/footer-logo.png" />
          <p>​©រក្សា​សិទ្ធិ​គ្រប់​យ៉ាង​ដោយ​ Sabay ឆ្នាំ​២០២៤</p>
          <p>
            <strong>គោលការណ៍​ភាព​ឯកជន | Privacy Policy</strong>
            <br />
            អាសយដ្ឋាន
            <br />
            អគារ​លេខ ៣០៨ មហាវិថីព្រះមុន្នីវង្ស សង្កាត់បឹងរាំង ខណ្ឌដូនពេញ
          </p>
        </div>
        <div>
          <div>អំពីយើង</div>
          <p>
            <strong>Sabay Digital Corporation </strong
            >ជា​ក្រុមហ៊ុន​ព័ត៌មាន​ឌីជីថល និង​កម្សាន្ត​ឈាន​មុខ​គេ​នៅ​កម្ពុជា។
            <a href="">ព័ត៌មាន​បន្ថែម</a>
          </p>
          <p><strong>ផលិត​ផល​ និង​ សេវាកម្ម របស់ Sabay</strong></p>
          <ul class="icon-footer">
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
          </ul>
        </div>
        <div>
          <div>ជួបគ្នានៅបណ្តាញសង្គម</div>
          <div>
            <ul class="icon-footer">
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
            </ul>
          </div>
          <p>
            <strong>ទំនាក់ទំនង</strong> <br />info@sabay.com <br />023 228 000
          </p>
        </div>
      </section>
    </footer>
  </body>
</html>
