<!-- 
 --Home Page: Thea Then
--First Start Top and Nav at 22 jul 2024 9:00-12:00
--Secord Start Content and Footer at 23-24 jul 2024 9:00-10:00
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sabay News</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/view.css" />
    <!-- link fornt -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Top -->
    <header class="Header">
      <div class="header-container">
        <div class="logo"><img src="../src/logo/logo.png" alt="logo" /></div>
        <!-- <div class="ads-container"></div> -->
      </div>
    </header>
    <!-- End Top -->
    <!-- Nav -->
    <nav class="NavContainer">
      <div class="Nav-Container">
        <div>
          <a href="../index.html"><img src="../src/icons/home.png" /></a>
        </div>
        <div>
          <a href="../topics/entertainment.html">កម្សាន្ត</a>
        </div>
        <div>
          <a href="../topics/technology.html">បច្ចេកវិទ្យា</a>
        </div>
        <div><a href="../topics/life.html">ជីវិតនិងសង្គម</a></div>
        <div><a href="../topics/sport.html">កីឡា</a></div>
        <div><a href="../topics/starting-up.html">Starting Up</a></div>
        <div>
          <a href="../topics/autotalk.html">Auto Talk</a>
        </div>
        <div><a href="../topics/members.html">Team Work</a></div>
      </div>
    </nav>
    <!-- End Nav -->
    <!-- Content -->
    <div class="mean-content">
      <div class="fix-bg">
        <div
          class="img"
          style="
            background-image: url(../src/image/67060290ed6b4_1728447120_IU_medium.jpeg);
          "
        ></div>
        <div class="inside"></div>
      </div>
      <div class="container article">
        <div class="single-left-content white-bg">
          <div class="header post-content">
            <div class="title detail">
              <div>
                <p>
                  សម្រង់សម្ដីរបស់ IU
                  សម្រាប់អ្នកដែលកំពុងត្រូវការកម្លាំងចិត្តក្នុងជីវិត
                </p>
              </div>
              <div>
                <time class="nav home-tabs" datetime="">
                  ពុធ, 9 តុលា 2024 11:23
                </time>
              </div>
              <div class="detail content-detail">
                <div>
                  <p>
                    ក្រៅពីការខិតខំបង្កើតស្នាដៃថ្មីៗដល់អ្នកគាំទ្រជាការកម្សាន្ត IU
                    ក៏ធ្វើខ្លួនជាមនុស្សម្នាក់ដែលតែងផ្ដល់កម្លាំងចិត្តសម្រាប់អ្នកគាំទ្ររបស់ខ្លួនដែរ។
                    នាង ជាតារាម្នាក់ក្នុងចំណោមតារាដែលមានបេះដូងល្អផូរផង់
                    ដោយតែងផ្ដល់ក្ដីស្រឡាញ់ ធ្វើសប្បុរសធម៌ និងជួយអ្នកដែលខ្វះខាត។
                    ចំពោះក្រុមគ្រួសារ មិត្តភក្តិ ក្រុមការងារ
                    និងសូម្បីតែអ្នកគាំទ្ររបស់នាងដែលជាអ្នកដែលមិនដែលជាប់សាច់ឈាមគ្នា
                    ក៏នាងឱបក្រសោប ផ្ដល់ភាពកក់ក្ដៅគ្រប់ពេលដែរ។
                    <br />
                    ក្រៅពីសកម្មភាពចេញពីទង្វើល្អរាប់មិនអស់ ឥឡូវនេះ
                    សូមស្ដាប់នូវសម្រង់សម្ដីរបស់ IU ហើយសង្ឃឹមថាស្ដាប់ហើយ
                    អ្នកនឹងចូលចិត្ត និងស៊ូៗជម្នះនឹងឧបសគ្គគ្រប់យ៉ាង៖
                  </p>
                  <img src="" alt="" />
                  <div>១. ទ្វារមួយបិទ ទ្វារមួយទៀតនឹងបើក</div>
                  <p>
                    IU បាន​និយាយថា៖ “ប្រសិនបើខ្ញុំបាត់បង់អ្វីមួយ
                    ខ្ញុំនឹងទទួលបានអ្វីផ្សេងទៀតមកមកវិញ! ប៉ុន្តែ
                    ប្រសិនបើខ្ញុំទទួលបានអ្វីមួយ ប្រាកដណាស់ខ្ញុំ
                    ក៏អាចបាត់បង់អ្វីផ្សេងដែរ។ នេះហើយជាជីវិតដែលខ្ញុំរស់នៅ”។
                    ក្នុងន័យនេះ IU ចង់បញ្ជាក់ថា កុំគិតថាវាជារឿងបរាជ័យ
                    ត្រូវគិតថាវាជាកាដូ ឬមេរៀន ដើម្បីជាដើមទុនជីវិតទៅថ្ងៃក្រោយ
                  </p>
                  <div>** ២. បើអ្នកមិនមានក្ដីសុបិន ក៏មិនថ្វី**</div>
                  <p>
                    ការដែលមិនមានក្ដីសុបិន មិនមែនជាកំហុសទេ។ តាមពិតទៅ
                    ខ្ញុំគិតថាមនុស្សដែលមិនមានសុបិន អាចជាមនុស្សខ្លាំងក៏ថាបាន!
                    គ្មានអ្វីខុសទេ កុំបារម្ភពេកអី។
                  </p>
                  <img src="" alt="" />
                  <p>
                    Jennie បាននិយាយនៅក្នុងសេចក្តីថ្លែងការណ៍មួយថា
                    "វាជាបទចម្រៀងដ៏ល្អឥតខ្ចោះដើម្បីចាប់ផ្តើមយុគសម័យថ្មីរបស់ខ្ញុំ"
                    ។ “ខ្ញុំគិតថា 'Mantra'
                    នឹងធ្វើឱ្យអ្នកគាំទ្ររបស់ខ្ញុំសប្បាយចិត្ត
                    ប៉ុន្តែក៏បង្ហាញពីផ្នែកថ្មីរបស់ខ្ញុំក្នុងនាមជាសិល្បករទោលផងដែរ។
                    បទចម្រៀងនេះត្រូវបានបំផុសគំនិត ដោយពេលវេលារបស់ខ្ញុំកាលខ្ញុំនៅ
                    Los Angeles ហើយសង្ឃឹមថាអ្នកគាំទ្រពេញចិត្ត និងចូលចិត្ត"។
                    បទថ្មីនេះស្ដាប់ហើយធ្វើឱ្យខ្លួនឯងមាន មានភាពស្វាហាប់
                    ពិសេសបទនេះបានផ្តល់ថាមពលជាមួយនឹងសារមួយសម្រាប់មិត្តនារី
                    ទាំងអស់ ឱ្យស្រឡាញ់ខ្លួនឯងឱ្យបានច្រើនៗ
                    ស្រឡាញ់អ្វីដែលខ្លួនមាន។
                  </p>
                  <p>
                    Jennie បានបន្តនៅក្នុងសេចក្តីថ្លែងការណ៍របស់នាងនៅលើវីដេអូថា
                    "វាឆ្លុះបញ្ចាំងពីប្រធានបទសំខាន់នៃការពង្រឹងអំណាចស្ត្រី
                    និងទំនុកចិត្ត"៕
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div></div>
          <div></div>
        </div>

        <div class="single-right-content">
          <div class="ads-item web"></div>
          <div class="post-item nav-ads hot-news">
            <div class="title">
              អត្ថបទពេញនិយម
              <div class="border"></div>
            </div>
            <div class="media">a</div>
            <div class="media">a</div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="title">
              អត្ថបទថ្មី
              <div class="border"></div>
            </div>
            <div class="media">a</div>
            <div class="media">a</div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
            <div class="media"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Content -->
    <!-- Footer -->
    <footer class="footer-container">
      <section>
        <div>
          <img src="../src/logo/footer-logo.png" />
          <p>​©រក្សា​សិទ្ធិ​គ្រប់​យ៉ាង​ដោយ​ Sabay ឆ្នាំ​២០២៤</p>
          <p>
            <strong>គោលការណ៍​ភាព​ឯកជន | Privacy Policy</strong>
            <br />
            អាសយដ្ឋាន
            <br />
            អគារ​លេខ ៣០៨ មហាវិថីព្រះមុន្នីវង្ស សង្កាត់បឹងរាំង ខណ្ឌដូនពេញ
          </p>
        </div>
        <div>
          <div>អំពីយើង</div>
          <p>
            <strong>Sabay Digital Corporation </strong
            >ជា​ក្រុមហ៊ុន​ព័ត៌មាន​ឌីជីថល និង​កម្សាន្ត​ឈាន​មុខ​គេ​នៅ​កម្ពុជា។
            <a href="">ព័ត៌មាន​បន្ថែម</a>
          </p>
          <p><strong>ផលិត​ផល​ និង​ សេវាកម្ម របស់ Sabay</strong></p>
          <ul class="icon-footer">
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
            <li><img src="../src/icons/facebook.png" alt="" /></li>
          </ul>
        </div>
        <div>
          <div>ជួបគ្នានៅបណ្តាញសង្គម</div>
          <div>
            <ul class="icon-footer">
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
              <li><img src="../src/icons/facebook.png" alt="" /></li>
            </ul>
          </div>
          <p>
            <strong>ទំនាក់ទំនង</strong> <br />info@sabay.com <br />023 228 000
          </p>
        </div>
      </section>
    </footer>
  </body>
</html>
